<h2>Info</h2>
  <ul>
  <li>{{concert.artist}}</li>
  <li>{{concert.opener}}</li>
  <li>{{concert.setlist}}</li>
  <li>{{concert.date}}</li>
  <li>{{concert.venue}}</li>
  <button {{action 'delete' concert}} >Delete Concert</button>
  <hr>

  <h2>Comments</h2>
  {{#each concert.ratings as |rating|}}

    <li>{{rating.comment}} <button {{action 'delete' rating}}>Delete Rating</button></li>
    <li>{{rating.comment}} score: {{starRating rating.score}}</li>

  {{/each}}

</ul>


<h3>Rate this concert</h3>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 1 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 2 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 3 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 4 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 5 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 6 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 7 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 8 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 9 concert}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 10 concert}}></span>

<label for="comment">Comment</label>
{{input value=comment id="comment"}}
<button class='btn' {{action "addRating"}}>Add Comment</button>
