<div class="boxed">
  <h1>{{concert.artist}}</h1>
  <h5>with {{concert.opener}}</h5>
  <h5>The Set List: {{concert.setlist}}</h5>
  <br>
  <h5>{{concert.date}}</h5>
  <h5>{{concert.venue}}</h5>
  <button class="btn btn-xs" {{action 'destroyConcert' concert}} >Delete Concert</button>
  {{update-concert concert=model.concert update="update"}}

{{#each concert.ratings as |rating|}}
  <div>
    <hr>
    <strong>{{rating.comment}}</strong>
    <br>
    {{starRating rating.score}}
    <br>
    <button class="btn btn-xs" {{action 'destroyRating' rating}}>Delete Rating</button>
  </div>
{{/each}}
</div>

<div class="boxed">
  <h3>Rate this concert</h3>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 1 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 2 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 3 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 4 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 5 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 6 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 7 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 8 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 9 concert}}></span>
    <span class="glyphicon glyphicon-star-empty estar" {{action 'rateConcert' 10 concert}}></span>
  <br>
  <br>
  {{!-- <label for="comment">Comment</label> --}}
  <textarea class="comment" rows="5" cols="80" id="TITLE">{{input value=comment id="comment"}}</textarea>
  <br>
  <br>
  <button class='btn btn-xs' {{action "addRating"}}>Add Comment</button>

</div>
